# Idea IDE
.idea/

# OSX 
.DS_Store
.Spotlight-V100
.Trashes
._*

# Python byte-compiled / optimized / DLL
__pycache__/
*.py[cod]
*$py.class

# Python environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Dataset
data/
!data/.gitkeep

# Model artifacts (checkpoints, weights, etc.)
models/
!models/.gitkeep

# Visual studio
/src/retrieval/prep/.vs/
/src/retrieval/prep/obj/
/src/retrieval/prep/bin/
