# Idea IDE
.idea/

# OSX 
.DS_Store
.Spotlight-V100
.Trashes
._*

# Python byte-compiled / optimized / DLL
__pycache__/
*.py[cod]
*$py.class

# Python environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Dataset
data/
!data/.gitkeep

# Model artifacts (checkpoints, weights, etc.)
models/
!models/.gitkeep

# Visual studio
.vs/
obj/
bin/

# Latex

LaTex/out
LaTex/*.synctex.*
Latex/main.pdf
LaTex/main.aux
.gitignore
LaTex/main.blg
.gitignore
LaTex/main.bbl
LaTex/main.fdb_latexmk
LaTex/main.fls
LaTex/main.log
